@model Quiron.LojaVirtual.Dominio.Entidades.Produto



<div class="well">
    <h3><strong>@Model.Nome</strong>  </h3>
    <h3><span class="pull-right label label-primary">@Model.Preco.ToString("c")</span></h3>
    
    @using (Html.BeginForm("Adicionar", "Carrinho"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.ProdutoId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Comprar"/>
        </div>
    }
    <h3>  <span class="lead">@Model.Descricao</span></h3>
</div>
