<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <!-- Title here -->
    <title>Title - Quiron</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    @Styles.Render("~/css")
    @Styles.Render("~/Content/startmenu")

    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
</head>

<body>


    @RenderBody()



    <!-- Shopping cart Modal -->
    <div class="modal fade" id="shoppingcart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Shopping Cart</h4>
                </div>
                <div class="modal-body">

                    <!-- Items table -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="single-item.html">HTC One</a></td>
                                <td>2</td>
                                <td>$250</td>
                            </tr>
                            <tr>
                                <td><a href="single-item.html">Apple iPhone</a></td>
                                <td>1</td>
                                <td>$502</td>
                            </tr>
                            <tr>
                                <td><a href="single-item.html">Galaxy Note</a></td>
                                <td>4</td>
                                <td>$1303</td>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Total</th>
                                <th>$2405</th>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
                    <button type="button" class="btn btn-info">Checkout</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Logo & Navigation starts -->

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <!-- Logo -->
                    <div class="logo">
                        <h1> @Html.ActionLink("Quiron", "Index") </h1>
                    </div>
                </div>

                <div class="col-md-10 col-sm-10">
                    <div class="kart-links">
                        <a href="Login.html">Seja bem-vindo(a)!  Faça seu login </a>

                        <a href="login.html">Meu cadastro</a>
                        <a href="register.html">Meus pedidos</a>
                        <a data-toggle="modal" href="#shoppingcart"><i class="fa fa-shopping-cart"></i> 3 itens - R$ 300,00</a>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-12 col-sm-12">
                    @Html.Partial("_Menu")
                </div>


            </div>
        </div>
    </div>

    <!-- Logo & Navigation ends -->
    <!-- Page title -->
    <div class="page-title">
        <div class="container">
            <h2><i class="fa fa-shopping-cart color"></i> Falou em esportes, pense Quiron <small>Seu esporte é aqui</small></h2>
            <hr />
        </div>
    </div>
    <!-- Page title -->
    <!-- Page content -->

    <div class="page-content blocky">
        <div class="container">

        </div>
    </div>


    <!-- Recent posts Starts -->

    <div class="recent-posts blocky">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section title -->
                    <div class="section-title">
                        <h4><i class="fa fa-credit-card color"></i> &nbsp;Promoções</h4>
                    </div>

                    <div id="item-carousel" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <!-- single item -->
                                        <div class="s-item">
                                            <!-- Image link -->
                                            <a href="single-item.html">
                                                <img src="http://images.centauro.com.br/180x180/816584QKA1.jpg" class="img-responsive" alt="" />
                                            </a>
                                            <!-- portfolio caption -->
                                            <div class="s-caption">
                                                <!-- heading and paragraph -->
                                                <h4><a href="#">Finibus Bonorum</a></h4>
                                                <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="s-item">
                                            <a href="single-item.html">
                                                <img src="http://images.centauro.com.br/180x180/84531204A1.jpg" class="img-responsive" alt="" />
                                            </a>
                                            <div class="s-caption">
                                                <h4><a href="#">Finibus Bonorum</a></h4>
                                                <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="s-item">
                                            <a href="single-item.html">
                                                <img src="http://images.centauro.com.br/180x180/83285531A1.jpg" class="img-responsive" alt="" />
                                            </a>
                                            <div class="s-caption">
                                                <h4><a href="#">Finibus Bonorum</a></h4>
                                                <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="s-item">
                                            <a href="single-item.html">
                                                <img src="http://images.centauro.com.br/180x180/83312706.jpg" class="img-responsive" alt="" />
                                            </a>
                                            <div class="s-caption">
                                                <h4><a href="#">Finibus Bonorum</a></h4>
                                                <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="s-item">
                                            <a href="single-item.html">
                                                <img src="http://images.centauro.com.br/180x180/82138641.jpg" class="img-responsive" alt="" />
                                            </a>
                                            <div class="s-caption">
                                                <h4><a href="#">Finibus Bonorum</a></h4>
                                                <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="s-item">
                                            <a href="single-item.html">
                                                <img src="http://images.centauro.com.br/180x180/85633431A1.jpg" class="img-responsive" alt="" />
                                            </a>
                                            <div class="s-caption">
                                                <h4><a href="#">Finibus Bonorum</a></h4>
                                                <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="s-item">
                                            <a href="single-item.html">
                                                <img src="http://images.centauro.com.br/180x180/83216131A1.jpg" class="img-responsive" alt="" />
                                            </a>
                                            <div class="s-caption">
                                                <h4><a href="#">Finibus Bonorum</a></h4>
                                                <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="s-item">
                                            <a href="single-item.html">
                                                <img src="http://images.centauro.com.br/180x180/83302731A1.jpg" class="img-responsive" alt="" />
                                            </a>
                                            <div class="s-caption">
                                                <h4><a href="#">Finibus Bonorum</a></h4>
                                                <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left c-control" href="#item-carousel" data-slide="prev">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a class="right c-control" href="#item-carousel" data-slide="next">
                            <i class="fa fa-chevron-right"></i>
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div>



    <!-- Footer starts -->
    <footer>
        <div class="container">

            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="fwidget">

                        <h4>Oslon de<span class="color">'</span> Techno</h4>
                        <hr />
                        <p>Duis leo risus, vehicula luctus nunc.  Quiue rhoncus, a sodales enim arcu quis turpis. Duis leo risus, condimentum ut posuere ac, vehicula luctus nunc.  Quisque rhoncus, a sodales enim arcu quis turpis.</p>

                        <div class="social">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="fwidget">
                        <h4>Categories</h4>
                        <hr />
                        <ul>
                            <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
                            <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
                            <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
                            <li><a href="#">Vivamus scelerisque dui in massa</a></li>
                            <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
                        </ul>
                    </div>
                </div>



                <div class="col-md-4 col-sm-4">
                    <div class="fwidget">

                        <h4>Get In Touch</h4>
                        <hr />
                        <div class="address">
                            <p><i class="fa fa-home color contact-icon"></i> #12, Plot No.14, Raj Karmara Street, </p>
                            <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5th Stage, Koramangala, Madiwala,</p>
                            <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Bangalore - 493922, Karananana.</p>
                            <p><i class="fa fa-phone color contact-icon"></i> +94-948-323-5532</p>
                            <p><i class="fa fa-envelope color contact-icon"></i> <a href="mailto:something@gmail.com">some.thing@gmail.com</a></p>
                        </div>

                    </div>
                </div>

            </div>



            <hr />

            <div class="copy text-center">
                Copyright 2013 &copy; - <a href="http://responsivewebinc.com/bootstrap-themes">Bootstrap Themes</a>
            </div>
        </div>
    </footer>
    <!-- Footer ends -->
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>





    <!-- Javascript files -->
    @Scripts.Render("~/js")
    @Scripts.Render("~/Scripts/startmenu")
    @Scripts.Render("~/Scripts/jsprojetos")


</body>
</html>
