@model Quiron.LojaVirtual.Dominio.Entidades.Pedido


@{
    ViewBag.Title = "Quiron: Fechar o pedido";
}




<h2>Fechar o pedido</h2>

<p>Digite suas informações abaixo</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <h3>Enviar para</h3>

    <div class="form-group">
        <label>Nome do cliente:</label>
        @Html.TextBoxFor(x => x.NomeCliente, new { @class = "form-control" })
    </div>
    
    <h3>Dados para entrega</h3>

    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "NomeCliente" && property.PropertyName != "EmbrulhaPresente")
        {
            <div class="form-group">
                
                <label>
                    @(property.DisplayName ?? property.PropertyName)
                </label>
                
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })

            </div>
        }
    }


    <h3>Opções</h3>
    <div class="checkbox">
        <label>
           @Html.EditorFor(x => x.EmbrulhaPresente)
            Embrulhar para presente?
        </label>
    </div>

    <input class="btn btn-primary" type="submit" value="Fechar o pedido"/>
}

