@model Quiron.LojaVirtual.Dominio.Entidades.Produto

@{
    ViewBag.Title = "Alterar " + @Model.Nome;
    Layout = "~/Areas/Administrativo/Views/Shared/_AdministrativoLayout.cshtml";
}


<div class="panel">

    <div class="panel-heading">
        <h3>@Model.Nome</h3>
    </div>

    @using (Html.BeginForm("Alterar","Produto"))
    {
        <div class="panel-body">

            @Html.HiddenFor(m => m.ProdutoId)

            @foreach (var property in ViewData.ModelMetadata.Properties)
            {

                if (property.PropertyName != "ProdutoId")
                {
                    <div class="form-group">
                        <label>
                            @(property.DisplayName ?? property.PropertyName)
                        </label>


                        @if (property.PropertyName == "Descricao")
                        {
                            @Html.TextArea(property.PropertyName, null, new {@class = "form-control", rows = 5})
                        }
                        else
                        {
                            @Html.TextBox(property.PropertyName, null, new {@class = "form-control"})
                        }


                        @Html.ValidationMessage(property.PropertyName)

                    </div>

                }
            }

        </div>

        <div class="panel-footer">
            <input type="submit" value="Salvar" class="btn btn-primary"/>
            @Html.ActionLink("Cancelar e retornar","Index",null,new {@class="btn btn-default"})
        </div>
    }

</div>
